:global .ant-card {
  margin-top: 35px;
  height: 250px;
  border-radius: 6px;
}

.logo {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.info {
  margin-top: 20px;
}

.expiry::before {
  content: 'Expires ';
  font-weight: bold;
}

.actions {
  float: right;
  margin-top: -15px;
}

.action {
  border: none;
  font-size: 28px;
}
