.container {
  height: 100vh;
  overflow: auto;
  padding-left: 10px;
  padding-right: 10px;
  :global .ant-table-title {
    border-bottom: 1px solid rgb(233, 233, 233);
  }
  :global .ant-list-item {
    justify-content: space-between;
  }
  :global .ant-list div.ant-list-item:hover {
    background-color: #f2f3f4;
  }
}

.row {
  height: 70px;
}

.content {
  padding-left: 10px;
}

.selectedTicket {
  background-color: #f2f3f4;
}

.meta {
  width: 100%;
}

.listitem {
  :global .ant-list-item-action {
    margin-left: 20px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
}

.timeStamp {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.45);
  padding-right: 5px;
}
